.boxes{
        /* min-height: calc(100vh - 91px); */
        list-style: none;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 9.5rem;
}

.boxes .box{
        position: relative;
        text-align: center;
        padding: 1rem;
        margin: 0.1rem;
        width: 90%;
        background-color: var(--bg-box);
        z-index: var(--i);
        transition: 0.3s;
}

.boxes .box:hover{
        background-color: var(--bg-select-box);
        transform: translateX(-1rem);
}

.box::before{
        content: '';
        position: absolute;
        top: 0;
        left: -2rem;
        width: 2rem;
        height: 100%;
        background-color: var(--bg-box-left);
        transform-origin: right;
        transform: skewY(20deg);
        transition: 0.5s;
}

.boxes .box:hover:before{
        background-color: var(--bg-select-box-left);
}

.box::after{
        content: '';
        position: absolute;
        top: -0.7rem;
        left: 0;
        width: 100%;
        height: 0.72rem;
        background-color: var(--bg-box-top);
        transform-origin: bottom;
        transform: skewX(70deg);
        transition: 0.5s;
}


.boxes .box:hover::after{
        background-color: var(--bg-select-box-top);
} 

.boxes {
        -webkit-animation: bounce-in-right 1.5s 1.5s both;
                animation: bounce-in-right 1.5s 1.5s both;
}

@-webkit-keyframes bounce-in-right {
0% {
-webkit-transform: translateX(600px);
        transform: translateX(600px);
-webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
opacity: 0;
}
38% {
-webkit-transform: translateX(0);
        transform: translateX(0);
-webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
opacity: 1;
}
55% {
-webkit-transform: translateX(68px);
        transform: translateX(68px);
-webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
}
72% {
-webkit-transform: translateX(0);
        transform: translateX(0);
-webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
}
81% {
-webkit-transform: translateX(32px);
        transform: translateX(32px);
-webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
}
90% {
-webkit-transform: translateX(0);
        transform: translateX(0);
-webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
}
95% {
-webkit-transform: translateX(8px);
        transform: translateX(8px);
-webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
}
100% {
-webkit-transform: translateX(0);
        transform: translateX(0);
-webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
}
}
@keyframes bounce-in-right {
0% {
-webkit-transform: translateX(600px);
        transform: translateX(600px);
-webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
opacity: 0;
}
38% {
-webkit-transform: translateX(0);
        transform: translateX(0);
-webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
opacity: 1;
}
55% {
-webkit-transform: translateX(68px);
        transform: translateX(68px);
-webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
}
72% {
-webkit-transform: translateX(0);
        transform: translateX(0);
-webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
}
81% {
-webkit-transform: translateX(32px);
        transform: translateX(32px);
-webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
}
90% {
-webkit-transform: translateX(0);
        transform: translateX(0);
-webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
}
95% {
-webkit-transform: translateX(8px);
        transform: translateX(8px);
-webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
}
100% {
-webkit-transform: translateX(0);
        transform: translateX(0);
-webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
}
}  