<section>
    <div >
        <img id="banner" src="../../../assets/img/banner.png" alt="banner">
        <img id="perfil" src="../../../assets/img/perfil.png" alt="perfil">
    </div>
    <div class="card-text">
        <h4>nombre</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Illo amet fugiat esse porro! Molestias, non suscipit nulla 
        ex laborum inventore, nemo fugiat accusamus aut consequatur debitis. 
        Temporibus exercitationem et neque.</p>
    </div>
</section>
