<header>

    <div class="navImg">
        <img src="../../../assets/img/APLogooo.png" class="imgUno" alt="Logo de Argentina Programa">
        <img src="../../../assets/img/LogosInti.png" class="imgDos" alt="Logo del Inti">
    </div>

    <section class="titulo">
        <video autoplay muted preload loop
            src="https://static.videezy.com/system/resources/previews/000/044/946/original/200305_02_HUD-Digital-screen-blue.mp4">
        </video>
        <h1>Portfolio</h1>
    </section>

    <div class="navMenu">
        <ul class="socialMedia">
            <li class="link">
                <a href="https://www.linkedin.com/in/gabriel-alejandro-godoy">
                    <img src="../../../assets/img/linkedin.png" alt=""></a>
            </li>
            <li class="link">
                <a href="https://www.instagram.com/ale92godoy">
                    <img src="../../../assets/img/instagram.png" alt=""></a>
            </li>
            <li class="link">
                <a href="https://github.com/alezzard">
                    <img src="../../../assets/img/github.png" alt=""></a>
            </li>
        </ul>
    </div>
</header>