section{
    position: relative;
}
section .card{
    position: relative;
    background-color: var(--bg-color-card-text);
    border-radius: 5px;
}
section .card{
    display: flex;
}
section .card .texto{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}
section .card .imagen {
    width: 30%;
    border-radius: 5px;
    margin: 0.5rem;
}