<section>
    <div >
        <img id="banner" src="https://i.ibb.co/p08Gjqk/banner.png" alt="banner">
        <img id="perfil" src="https://i.ibb.co/wKdTHPk/perfil.png" alt="perfil">
    </div>
    <div class="card-text">
        <h3>Gabriel Alejandro Godoy</h3>
        <p>En búsqueda de nuevos retos que me impulsen en mi carrera como 
            desarrollador, me interesa profundamente desarrollarme en vision 
            artificial y reconocimiento de imagenes, pero no temo incursionar 
            en otras áreas en mí desarrollo profesional.</p>
    </div>
</section>
