<div class="card">
    <div class="texto">
        <h4 class="titulo">Proyecto Integrador: #YoProgramo</h4>
        <p class="descripcion">Desarrollar una aplicación web full stack, 
            esta aplicación deberá ser de arquitectura distribuida y contener 
            un diseño de interface (front end) que muestre la información, una 
            ase de datos que almacene los datos antes mencionados y debe contar 
            con las APIs necesarias para proveer a través de internet la 
            información (back end).</p>
    </div>
    <img class="imagen" src="https://i.ibb.co/wSRYQpT/argentina-programa.png" alt="">
</div>